<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #test_btn1 {
            margin-right:-4px;
        }
        #test_btn2 {
            margin-left:-3px;
        }
        #btn_group button{
            border: 1px solid red;
            background-color: rgba(0,0,0,0);
            color: black;
            padding: 5px;
        }
    </style>
</head>
<body>
<div id="btn_group" style="width: 1000px;text-align:center;">
    <button  type="b1" onclick="location.href='/question3/' ">Question3</button>
    <button  type="b2" onclick="location.href='/question4/' ">Question4</button>
</div>
<div style="width:100px; float:left">Raw Data</div>
<div style="width:100px; float:left">{{loaded_data | safe}}</div>
</body>
</html>